header {
    padding: 2rem $gutter;
    h1 {
        font-size: 2rem;
    }
   
}
nav {
    font-size: 2rem;
}
main {
    h1 {
        font-size: 2rem;
    }
}
#footerWrapper {
    font-size: 1.5rem;
    
}