//Prevents adjustments of font size after orientation changes.//
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
   
}

//Apply a natural box layout model to all elements.//
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: $defaultFont;
    color: $fColor;
    padding: 0;
    margin: 0;
    width: 100%;
}

#headerWrapper {
    background-color: $pColor;
    color: $fColor;
}

header {
    display: flex;
    align-items: flex-end;
    padding: $gutter;
    gap: 8px;

    h1 {
        margin: 0;
        padding-left: $gutter;

    }
}

#navWrapper {
    background-color: $sColor;
    padding: 8px;
    
}

nav {
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        li {
            flex: 1;

        }
    }

    li.active {
        background-color: $pColor;

        a {
            color: $fColor;
        }
    }

    a {
        display: block;
        padding: 0.75rem;
        color: $fColor;
        text-align: center;
        text-decoration: none;

        &:hover {
            color: white !important;
            background-color: $tColor;
        }
    }
}
#mainWrapper {
    margin: 0;
    padding: 0;
    width: 100%; // Ensure the wrapper spans the full width
    main h1 {
        padding-left: $gutter;
        
    }
}
.hero img {
    width: 100%;
    height: auto;
}


#footerWrapper {
    color: $fColor;
    background-color: $tColor;
    padding: 8px;
    color: white;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

video {
    width: 90%;
    margin-left: 5%;
}
